{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="main mt-5">
    <div id="container">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}

            <div id="log">
                <input class="btn btn-primary mt-3" type="submit" value="Login" class="btn btn-primary">
            </div>
            <p class="link">Nie masz konta? <a href="{% url 'register' %}">Zarejestruj się</a></p>
        </form>
                <div class="social_icon">
            <p>Znajdź nas na
                <a href="https://www.facebook.com/"> <i class="demo-icon icon-facebook"></i></a>
                <a href="https://www.instagram.com/"> <i class="demo-icon icon-instagram"></i></a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
