{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main mt-5">
    <div id="main">
        <h1>Witaj tu Romek Atomek - twoj fotograf!</h1>
        <div id="camera">
            <img src="{% static 'static/gallery/camera.jpg' %}" alt="camera">
        </div>
        <div id="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ducimus esse harum maiores non
                obcaecati pariatur quam recusandae, unde? A, accusamus adipisci architecto deleniti dolor earum
                explicabo ipsum molestiae nostrum nulla numquam quae unde voluptate? Consequuntur cumque dignissimos
                dolorem explicabo incidunt itaque, libero natus odit provident quas sunt suscipit unde.</p>
        </div>
    </div>
</div>
{% endblock %}