{% extends 'base.html' %}
{% block content %}
<div class="container">
  <table class="table">
        <tr>
            <th>Własciciel</th>
            <th>Nazwa Sesji</th>
            <th>Data Dodania</th>
            <th>Pobierz</th>
        </tr>
         <tr>
             {% for download in down %}
             <td>
                {{ download.owner }}
             </td>
             <td>
                 {{ download.session_type }}
             </td>
             <td>
                 {{ download.upload_date }}
             </td>
             <td>
                 <a href="{{ download.file.url }}" download  class="btn btn-primary">Download</a>
             </td>
             {% endfor %}
        </tr>
    </table>
</div>
{% endblock %}