{% extends 'base.html' %}
{% block content %}
<div class="main">
    <div class="container mt-4">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
        <div id="slajder">
      </div>
    </div>
  </div>
    <div id="container-profile">
        {% for post in posts %}
                <h3 class="text-center">{{ post.title }}</h3>
                <p class="text-center">{{ post.body }}</p>
          <div class="text-muted text-center">
            {{ post.publication_date }} by Photo Service
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}


