{% extends 'base.html' %}
{% block content %}
<div class="main">
    <div class="container mt-4">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <!--          <ol class="carousel-indicators">-->
        <!--            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>-->
        <!--            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>-->
        <!--            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
        <!--          </ol>-->
                <div class="carousel-inner">
                <div id="slajder">
              </div>
        <h1>Main Content</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque consectetur eveniet fuga, fugit ipsum magnam odit quasi sit. Ab obcaecati veritatis voluptates?</p>
    </div>
</div>
{% endblock %}
