{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
              <a href="{% url 'view_profile' %}" class="list-group-item list-group-item-action">Profil</a>
              <a href="{% url 'photo' %}" class="list-group-item list-group-item-action">Galeria</a>
              <a href="{% url 'download_list' %}" class="list-group-item list-group-item-action">Download</a>
            </div>
        </div>
        {% for photos in model %}
        <div class="col-md-4">
            <div class="card mt-1">
                <a href="{{ photos.img.url }}" data-lightbox="photos">
                    <img src="{{ photos.img.url }}" width="300" height="300" class="card-img-top" alt="family1">
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}