{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

    <div class="container mt-5">
    <div class="col-sm-12">
        <div id="reservation">
            <a href="#" class="scrollup"></a>
            <h1 style="text-align: center;">Rezerwacja</h1>

            <div class="wedding">
                <img src="{% static 'static/gallery/reservation/wedding1.jpg' %}" width="350" height="350"
                     alt="wedding1">
                <p>Sesja Ślubna <a id="link1" href="#description1">(Opis)</a></p>
                <p>Czas trwania: 60 min</p>
                <p>Cena: 300 zł</p>
            </div>

            <div class="wedding">
                <img src="{% static 'static/gallery/reservation/pregnancy.jpg' %}" width="350" height="350"
                     alt="pregnancy">
                <p>Sesja ciążowa <a id="link2" href="#description2">(Opis)</a></p>
                <p>Czas trwania: 60 min</p>
                <p>Cena: 300 zł</p>
            </div>

            <div class="wedding">
                <img src="{% static 'static/gallery/reservation/family.jpg' %}" width="350" height="350" alt="family">
                <p>Sesja rodzinna <a id="link3" href="#description3">(Opis)</a></p>
                <p>Czas trwania: 60 min</p>
                <p>Cena: 300 zł</p>
            </div>
            <div style="clear: both;"></div>

            <div class="main mt-5">
                <div id="container-profile">
                <div id="main">
                    <h1>Rezerwacja Terminu</h1>
                    {% if user.is_authenticated %}
                        <p>
                        <form role="form" method="POST">
                            <fieldset>
                                {% csrf_token %}
                                {{ form|crispy }}
                            </fieldset>
                            <div class="form-group">
                                <div id="log">
                                    <input type="submit" class="btn btn-primary" value="Zazrezerwuj">
                                    </input>
                                </div>
                            </div>
                        </form>
                        </p>
                    {% else %}
                        <div class="form-group">
                            <h3>Aby zarezerwować termin musisz być zalogowany użytkownikiem!</h3>
                            <div id="log">
                                <button onclick="location.href='{% url 'register' %}'" class="btn btn-primary">
                                    Zarejestruj Konto
                                </button>
                            </div>
                            <p class="link">Masz już konto?<a href="{% url 'login' %}"> Zaloguj się</a></p>
                        </div>
                    {% endif %}
                </div>
            </div>
            </div>



            <div id="description">

                <h2 id="description1">Sesja Ślubna</h2>

                <p>
                    Czas trwania: ok. 60 min <br/>

                    Cena: 250 PLN<br/>

                    Usługa obejmuje:<br/>

                    10 odbitek na wysokiej jakości jedwabnym papierze w wybranym przez Państwa formacie.<br/>

                    10 ujęć w wersji cyfrowej.<br/>

                    Dodatkowe ujęcia w cenie 20 zł/ szt. <br/><br/>

                    W związku z koniecznością wcześniejszego ustalenia stylizacji do sesji fotograficznej, proszę o
                    przygotowanie
                    odpowiednich ubrań. Ważne jest, aby były to stroje spójne, bez nadruków i logotypów. W swoim studio
                    posiadam
                    kilka sukni ciążowych w uniwersalnym rozmiarze, z których można skorzystać. Jeśli nie mają Państwo
                    pomysłu,
                    proszę zainspirować się moim portfolio (strona WWW, facebook, instagram), lub skontaktować ze mną
                    telefonicznie.
                    Postaram się coś doradzić.
                </p>

                <h2 id="description2">Sesja ciążowa</h2>
                <p>Czas trwania: ok. 60 min <br/>

                    Cena: 300 PLN<br/>

                    Usługa obejmuje:<br/>

                    10 odbitek na wysokiej jakości jedwabnym papierze w wybranym przez Państwa formacie.<br/>

                    10 ujęć w wersji cyfrowej.<br/>

                    Dodatkowe ujęcia w cenie 20 zł/ szt. <br/><br/>

                    W związku z koniecznością wcześniejszego ustalenia stylizacji do sesji fotograficznej, proszę o
                    przygotowanie
                    odpowiednich ubrań. Ważne jest, aby były to stroje spójne, bez nadruków i logotypów. W swoim studio
                    posiadam
                    kilka sukni ciążowych w uniwersalnym rozmiarze, z których można skorzystać. Jeśli nie mają Państwo
                    pomysłu,
                    proszę zainspirować się moim portfolio (strona WWW, facebook, instagram), lub skontaktować ze mną
                    telefonicznie.
                    Postaram się coś doradzić.
                </p>

                <h2 id="description3">Sesja rodzinna</h2>
                <p>Czas trwania: ok. 60 min <br/>

                    Cena: 250 PLN<br/>

                    Usługa obejmuje:<br/>

                    10 odbitek na wysokiej jakości jedwabnym papierze w wybranym przez Państwa formacie.<br/>

                    10 ujęć w wersji cyfrowej.<br/>

                    Dodatkowe ujęcia w cenie 20 zł/ szt. <br/><br/>

                    W związku z koniecznością wcześniejszego ustalenia stylizacji do sesji fotograficznej, proszę o
                    przygotowanie
                    odpowiednich ubrań. Ważne jest, aby były to stroje spójne, bez nadruków i logotypów. W swoim studio
                    posiadam
                    kilka sukni ciążowych w uniwersalnym rozmiarze, z których można skorzystać. Jeśli nie mają Państwo
                    pomysłu,
                    proszę zainspirować się moim portfolio (strona WWW, facebook, instagram), lub skontaktować ze mną
                    telefonicznie.
                    Postaram się coś doradzić.
                </p>
            </div>

        </div>


    </div>
    </div>
</div>
<style>
select.select {
    width: 300px;
    background-color:#efefef;
    color:666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size:18px;
    padding:10px;
    outline: none;
}
</style>
{% endblock %}