{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main mt-5">

    <div id="main">
        <h1>Sesja Ślubna</h1>

        <div class="wedding">
            <a href="{% static 'static/gallery/wedding/wedding1.jpg' %}" data-lightbox="photos">
                <img src="{% static 'static/gallery/wedding/wedding1.jpg' %}" width="400" height="400" alt="wedding1">
            </a>
        </div>

        <div class="wedding">
            <a href="{% static 'static/gallery/wedding/wedding2.jpg' %}" data-lightbox="photos">
                <img src="{% static 'static/gallery/wedding/wedding2.jpg' %}" width="400" height="400" alt="wedding2">
            </a>
        </div>

        <div class="wedding">
            <a href="{% static 'static/gallery/wedding/wedding3.jpg' %}" data-lightbox="photos">
                <img src="{% static 'static/gallery/wedding/wedding3.jpg' %}" width="400" height="400" alt="wedding3">
            </a>
        </div>

        <div style="clear: both;"></div>
        <div class="wedding">
            <a href="{% static 'static/gallery/wedding/wedding4.jpg' %}" data-lightbox="photos">
                <img src="{% static 'static/gallery/wedding/wedding4.jpg' %}" width="400" height="400" alt="wedding4">
            </a>
        </div>

        <div class="wedding">
            <a href="{% static 'static/gallery/wedding/wedding5.jpg' %}" data-lightbox="photos">
                <img src="{% static 'static/gallery/wedding/wedding5.jpg' %}" width="400" height="400" alt="wedding5">
            </a>
        </div>

        <div class="wedding">
            <a href="{% static 'static/gallery/wedding/wedding6.jpg' %}" data-lightbox="photos">
                <img src="{% static 'static/gallery/wedding/wedding6.jpg' %}" width="400" height="400" alt="wedding6">
            </a>
        </div>
        <div style="clear: both;"></div>
        <div id="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ducimus esse harum maiores non
                obcaecati pariatur quam recusandae, unde? A, accusamus adipisci architecto deleniti dolor earum
                explicabo ipsum molestiae nostrum nulla numquam quae unde voluptate? Consequuntur cumque dignissimos
                dolorem explicabo incidunt itaque, libero natus odit provident quas sunt suscipit unde.</p>
        </div>
    </div>
</div>
</style>

{% endblock %}